.nav-container {
  margin-bottom: 2rem;
  padding: 10px;
  background-color: rgb(37, 37, 37);
  color: #fff;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #fff;
  margin-right: 2rem;
  background-color: rgb(37, 37, 37);
}

.nav-flex .logo {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search-box {
  display: flex;
  flex: 1;
  margin: 0 24px;
  max-width: 500px;
}

.search-icon {
  width: 18px;
  display: none;
}

.search-icon:hover {
  cursor: pointer;
}
.search-box .search-input {
  display: flex;
  flex: 1;
  min-width: 0;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  outline-color: rgb(37, 37, 37);
}

/* .search-box
.search-input-mobile {
  min-width: 0;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  outline-color: teal;
  display: none;
} */


.d-none {
  display: none;
}

.nav-flex a {
  text-decoration: none;
  color: #fff;
}

.nav-right {
  position: relative;
  color: #fff;
}


.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
  margin-left: 3rem;
  background-color: #fff;
  padding: 5px 15px;
}

.dropdown-container img {
  width: 24px;
  color: #fff;
}

.dropdown-container .dropdown-icon {
  width: 16px;
  margin-top: 5px;
}

.dropdown-container .dropdown-icon:hover {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  width: 150px;
  height: auto;
  border: 1px solid rgb(37, 37, 37);
  padding: 4px 10px;
  margin-right: -20px;
  margin-top: 20px;
  border-radius: 2px;
  background-color: #fff;
  color: rgb(37, 37, 37);
  font-weight: bold;
}

.dropdown a {
  color: black;
  transition: opacity 0.3s ease;
}

.dropdown a:hover {
  opacity: .8;
}

@media (max-width: 500px) {
  .nav-right {
    display: none;
  }

  .search-box .search-input {
    display: none;
  }

  .search-box,
  .search-icon {
    display: flex;
    justify-content: end;
    align-items: baseline;
  }

  .mobile-search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-search-box .mobile-search-input {
    min-width: 0;
    height: 28px;
    padding-left: 10px;
    font-size: 16px;
    outline-color: teal;
    /* display: inline-block; */
  }

  .search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: #ccc;
    border: 1px solid gray;
    border-radius: 50%;
  }
}

@media (max-width: 850px) {
  .filter-container {
    display: none;
  }
}
